*{
    margin: 0 auto;
    padding: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #000000 ;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
/* .nav-logo {
    height: 60px;
    width: 60px;
}
.nav-logo .logo {
    background-image: url("images-removebg-preview.png");
    background-size: cover;
    height: 100%;
    width: 100%;
} */
.title a {
    height: 50px;
    width: 100px;
    font-size: 40px;
    font-weight: bold;
    color: rgb(245, 213, 154);
}
.search-bar {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 800px;
    border-radius: 4px;
}
.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 0.2px solid wheat;
    border-radius: 4px;
    color: wheat;
    background-color: #000000;
}
.search-select {
    background-color: black;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 0.2px solid wheat;
    color: wheat;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu a {
    color: rgb(245, 213, 154);
}
.menu a:hover{
    color: white;
}
.main-body {
    height: 100vh;
    width: 100%;
    position: relative;
}
video::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.center {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: wheat;
    padding: 0 20px;
    text-align: center;
    font-size: 50px;
}
.center .btns {
    margin-top: 20px;
}
.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: 2px solid wheat;
    margin: 0 10px;
    font-size: 20px;
    font-weight: 400;
    background-color: wheat;
    transition: all 0.3s ease-in;
}
.center .btns button:hover {
    background: none;
    color: wheat;
}

